/*
Font: 		
Style: 		
URL: 		https://www.youworkforthem.com/font/T10876/bardon
Foundry: 	Sabrtype Studio
Foundry: 	https://www.youworkforthem.com/designer/1215/sabrtype-studio
Copyright:	
Version: 	17
Created:	June 06, 2019
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'AldivaroRegular';
	src: url('bardon-clean.eot');
	src: url('bardon-clean.eot?#iefix') format('embedded-opentype'),
             url('bardon-clean.woff2') format('woff2'),
	     url('bardon-clean.woff') format('woff'),
	     url('bardon-clean.ttf') format('truetype'),
	     url('bardon-clean.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
